.deathadder-img {
  border-top: 1px solid #44d62c;
  background-image: url("../../../public/deathadder2.png");
}
.deathadder-information h2 {
  padding-top: 150px;

  padding-left: 10%;
  color: white;
  height: 675;
  width: 1570;
  font-weight: 100;
}
.deathadder-information p {
  color: grey;
  padding-left: 10%;
  width: 400px;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 25px;
}
.deathadder-information a {
  padding-bottom: 60px;
  padding-left: 10%;
  color: #44d62c;
}
.deathadder-information a:after {
  display: inline-block;
  transform: scale(1, 1.4); /* W3C */
  content: ">";
  position: relative;
  margin-left: 2px;
}
